.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-secondary;
  height: 100vh;
  padding: 0 10rem;

  &__headline {
    font-size: 5rem;
  }

  &__text {
    font-size: 1.5rem;
  }
}
