.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  font-size: 1.8rem;
  overflow: auto;
  width: 12rem;
  height: 5rem;
  border-radius: 10px;
  border: 2px solid;
}
