.lookingFor {
  display: flex;
  flex-direction: row;
  // justify-content: start;
  border: 10px solid red;

  &__form {
    border: 4px solid blue;

    &--text {
      font-size: 2rem;
    }

    &--input {
      font-size: 2rem;
    }

    &--formInput {
      font-size: 2rem;
      margin-left: 2rem;
    }
  }
}
