.lookingFor {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 10px solid red;

  &__form {
    border: 4px solid blue;

    &--formInput {
      font-size: 2rem;
      margin-left: 2rem;
    }
  }
}
